<main>
  <div class="container">
    @if (msg()) {
    <div class="toast">
      <p>{{ msg() }}</p>
    </div> }
    <section class="section register min-vh-50 d-flex flex-column align-items-center justify-content-center p-4">
      <div class="container" data-aos="fade-down" data-aos-duration="500">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a class="logo d-flex align-items-center w-auto">
                <!-- <span class="d-none d-lg-block">MediCare</span> -->
              </a>
            </div>
            <div class="card mb-0">
              <div class="card-body">
                <div class="p-0">
                  <h5 class="card-title text-center pb-0 fs-4 fw-bold">Welcome Back Admin</h5>
                  <p class="text-center small">Enter your Email & password to login</p>
                  <img src="./images/login.svg" height="120px" class="img-fluid">
                </div>
                <form class="row gy-2 gx-3 needs-validation" [formGroup]="adminLoginForm"
                  (ngSubmit)="adminLogin(adminLoginForm)">
                  <div class="col-12">
                    <label for="email" class="form-label">email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"></span>
                      <input type="email" formControlName="email"
                        [ngClass]="{'is-invalid':(adminLoginForm.controls.email.touched && adminLoginForm.controls.email.errors) }"
                        name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">Please enter your email.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" formControlName="password"
                      [ngClass]="{'is-invalid':(adminLoginForm.controls.password.touched && adminLoginForm.controls.password.errors) }"
                      name="password" class="form-control" id="password" required>
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-login text-light w-100" [disabled]="adminLoginForm.invalid"
                      type="submit">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>