<header id="header" class="header d-flex align-items-center">
  <div
    class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <a routerLink="" class="logo d-flex align-items-center me-auto me-xl-0">
      <h1 class="sitename">Ramena Pharma</h1>
    </a>
    <nav id="navmenu" class="navmenu" [ngClass]="{'mobile-nav-active': isMobileNavOpen(),'mx-auto': !isAuth()}">
      <ul>
        <li><a routerLink="" (click)="closeMobileNav()">Home</a></li>
        <li><a routerLinkActive="active" routerLink="products" (click)="closeMobileNav()">Products</a></li>
        <li><a routerLinkActive="active" routerLink="sponsors" (click)="closeMobileNav()">Sponsors</a></li>
        <li><a routerLinkActive="active" routerLink="pharmacies" (click)="closeMobileNav()">Pharmacies</a></li>
        <li><a routerLinkActive="active" routerLink="inbox" (click)="closeMobileNav()">Inbox</a></li>
        <li><a routerLinkActive="active" routerLink="product-rating" (click)="closeMobileNav()">Ratings</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none" [class.bi-list]="!isMobileNavOpen()" [class.bi-x]="isMobileNavOpen()"
        (click)="toggleMobileNav()"></i>
    </nav>
    @if (isAuth()) {
    <a class="btn-getstarted" (click)="logout()">Logout</a>
    }
  </div>
</header>